@import url(billboard6.css);
:root{
    --heading:SuisseWorks,Georgia,Times,'Times New Roman',serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    --font2:'Udemy Sans','SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    --heading2:'Udemy Sans',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}
.navbar{
    display: flex;
    height: 9vh;
    box-shadow: 0px 2px 3px rgb(200, 200, 200);
    z-index: 2;
    position: relative;
}
.navbar .navbar__logo{
    align-items: center;
    justify-content: center;
    padding: 7px;
    width: 10%;
    height: 50px;
    display: flex;
}
.navbar__dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.6ms;
}
.navbar__dropdown--chart{
    padding: 0;
    list-style-type: none;
    line-height: 25px;
    background-color: white;
    width: 280px;
    box-shadow: 0px 1px 3px #595d60;
}
.navbar__dropdown--chart li{
    width: 280px;
    padding: 8px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.navbar__dropdown--chart li:hover{
    color: #401b9c;
}
.navbar__dropdown--list{
    display: none;
    position: absolute;
    width: 50px;
    top: 50px;
    left: 0;
    padding: 5px;
    margin: 5px;
    transition-duration: 0.6ms;
}
.navbar__dropdown--btn{
    font-size: 15px;
    background-color: white;
    border: none;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.navbar__dropdown--btn:hover{
    color: #401b9c;
}
.navbar__dropdown:hover .navbar__dropdown--list{
    display: block;
}
.navbar .navbar__searchbox-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .navbar__searchbox{
    display: flex;
    align-items: center;
    padding: 1px;
    border-radius: 40px;
    width:60%;
    height: 40px;
    margin: 10px;
    border: 1px solid rgb(45, 47, 49);
    background-color: #f7f9fa;
}
.navbar__searchbox--btn{
    background-color: #f7f9fa;
    border: none;
    opacity: 80%;
}
.navbar__searchbox-form-input{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f7f9fa;
}
.navbar__item1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    color:#2d2f31;
}
.navbar__item1--btn{
    background-color: white;
    font-size: 15px;
    border: none;
    position: relative;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.navbar__item1--btn:hover{
    color: #401b9c;
}
.navbar__item1:hover+.navbar__item1--dropdown{
    display: block;
}
.navbar__item1--dropdown{
    position: absolute;
    height: 140px;
    top: 50px;
    left: 55%;
    background-color: white;
    width: 250px;
    margin: 20px;
    display: none;
}
.navbar__item1--dropdown--description{
    font-family: var(--heading2);
    font-weight: 700;
    color: #2d2f31;
    padding: 5px;
    margin: 0;
    text-align: center;
}
.navbar__item1--dropdown button{
    width: 200px;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 45px;
    transition-duration: 0.4s;
    font-weight: 700;
    margin: 5px 25px;
}
.navbar__item1--dropdown button:hover{
    background-color: #3e4143;;
}
.navbar__item2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%; 
    color: #2d2f31;
}
.navbar__item2--btn{
    background-color: white;
    font-size: 15px;
    border: none;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif 
}
.navbar__item2--btn:hover{
    color: #401b9c;
}
.navbar__item2:hover+.navbar__item2--dropdown{
    display: block;
}
.navbar__item2--dropdown{
    position: absolute;
    height: 140px;
    top: 50px;
    left: 65%;
    background-color: white;
    width: 250px;
    margin: 20px;
    display: none;
}
.navbar__item2--dropdown--description{
    font-family: var(--heading2);
    font-weight: 700;
    color: #2d2f31;
    padding: 5px;
    margin: 0;
    text-align: center;
}
.navbar__item2--dropdown button{
    width: 200px;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 45px;
    transition-duration: 0.4s;
    font-weight: 700;
    margin: 5px 25px;
}
.navbar__item2--dropdown button:hover{
    background-color: #3e4143;;
}
.navbar .navbar__shoppingimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    opacity: 95%;
    transition-duration: 0.6s;
}
.navbar__shoppingimg:hover{
    opacity: 60%;
}
.navbar__login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%;
}
.navbar__login--button{
    background-color: white;
    width: 70px;
    height: 45px;
    transition-duration: 0.6s;
}
.navbar__login--button:hover{
    background-color: rgba(23,57,83,.12);
}
.navbar__signup{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
}
.navbar__signup--button{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 70px;
    height: 45px;
    transition-duration: 0.6s;
}
.navbar__signup--button:hover{
    background-color: #3e4143;
}
.navbar .navbar__worldimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    opacity: 95%;
}
.navbar__worldimg--button{
    background-color: white;
    transition-duration: 0.6s;
}
.navbar__worldimg--button:hover{
    background-color: rgba(23,57,83,.12);
}
/*this part is for mobile view*/
.navbar__mobile{
    display: none;
    width: 100vw;
    height: 9vh;
    box-shadow: 1px 2px 3px rgb(121, 119, 119);
}
.navbar__logo--mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 5px;
    height: 40px;
}
@media screen and (max-width:850px) {
    .navbar{
        display: none;
    }
    .navbar__mobile{
        display: block;
    }
}

